<p style="text-align: justify;"><i><a href="https://py.checkio.org/forum/post/11382/4-mission-ideas-substrings/">There are four substring missions</a>
    这些任务都是在一天内诞生的，您不应该需要超过一天的时间来解决它们。所有这些任务
    都可以简单地用蛮力解决，但这总是最好的方法吗？(您可能还没有获得所有这些
    任务，但随着地图上开放的岛屿越来越多，这些任务也会越来越多）。</i></p>
<p style="text-align: justify;">

    与第一个任务非常相似的是该系列的第二个任务，唯一的区别是您应该以完全不同的方式寻找。您需要找到第一个包含所有唯一字母的最长子串。例如，在子串 "abca "中，我们有两个包含唯一字母 "abc "和 "bca "的子串，但是我们应该取第一个，所以答案是 "abc"。
</p>


<p>
   <strong>输入</strong>字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
<p>

   <strong>输出：</strong>字符串<span>(str{% if is_js %}ing{% endif %})</span></p>.<p>
</p>

<p style="text-align: center;">
    <img  title="Double substring" src="{{MEDIA}}long_non_repeat.svg.png" alt="example" style="max-height: 80px">
</p>

<div class="for_info_only">
    <p>
        <strong>举例说明：</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>