{% comment %}New initial code template{% endcomment %}
{% block env %}{% endblock env %}

{% block start %}
def non_repeat(line: str) -> str:
    """
        the longest substring without repeating chars
    """
    # your code here
    return line

{% endblock start %}

{% block example %}
print('Example:')
print(non_repeat('aaaaa'))
{% endblock %}

{% block tests %}
{% for t in tests %}
assert {% block call %}non_repeat({{t.input|p_args}})
{% endblock %} == {% block result %}{{t.answer|p}}{% endblock %}{% endfor %}
{% endblock %}

{% block final %}
print("The mission is done! Click 'Check Solution' to earn rewards!")
{% endblock final %}
