<p style="text-align: justify;"><i><a href="https://py.checkio.org/forum/post/11382/4-mission-ideas-substrings/">There are four substring missions</a>
    які народилися за один день, і вам не повинно знадобитися більше одного дня, щоб їх вирішити. Всі ці місії
    можна вирішити просто грубою силою, але чи завжди це найкращий спосіб? (Можливо, ви ще не маєте доступу до всіх цих
    місій, але вони стануть доступними, коли на карті з'явиться більше відкритих островів).</i></p>
<p style="text-align: justify;">

    Друга місія серії дуже схожа на першу, з тією лише різницею, що тут ви повинні шукати зовсім по-іншому. Вам потрібно знайти перший найдовший підрядок з усіма унікальними літерами. Наприклад, у підрядку "abca" є два підрядки з унікальними літерами "abc" і "bca", але нам потрібно взяти перший, тому відповідь буде "abc".
</p>


<p>
   <strong>Вхідні дані:</strong> Рядок <span>(str{% if is_js %}ing{% endif %})</span>.
<p>

   <strong>Вихідні</strong> дані: Рядок <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p style="text-align: center;">
    <img  title="Double substring" src="{{MEDIA}}long_non_repeat.svg.png" alt="example" style="max-height: 80px">
</p>

<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>