<p style="text-align: justify;"><i><a href="https://py.checkio.org/forum/post/11382/4-mission-ideas-substrings/">There are four substring missions</a>
    qui sont nées en une seule journée et qui ne devraient pas vous prendre plus d'une journée pour les résoudre. Toutes ces missions
    peuvent être résolues par la force brute, mais est-ce toujours la meilleure solution? (vous n'avez peut-être pas encore accès à toutes ces
    missions, mais elles seront disponibles avec l'ouverture d'un plus grand nombre d'îles sur la carte).</i></p>
<p style="text-align: justify;">

    La deuxième mission de la série est très similaire à la première, à la seule différence que vous devez chercher d'une manière complètement différente. Vous devez trouver la première sous-chaîne la plus longue contenant toutes les lettres uniques. Par exemple, dans la sous-chaîne "abca", nous avons deux sous-chaînes avec des lettres uniques "abc" et "bca", mais nous devons prendre la première, donc la réponse est "abc".
</p>


<p>
   <strong>Entrée:</strong> Chaîne <span>(str{% if is_js %}ing{% endif %})</span>.
<p>

   <strong>Sortie:</strong> Chaîne <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p style="text-align: center;">
    <img  title="Double substring" src="{{MEDIA}}long_non_repeat.svg.png" alt="example" style="max-height: 80px">
</p>

<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>