<p style="text-align: justify;"><i><a href="https://py.checkio.org/forum/post/11382/4-mission-ideas-substrings/">There are four substring missions</a>
    die alle an einem Tag entstanden sind, und Sie sollten nicht mehr als einen Tag brauchen, um sie zu lösen. Alle diese Aufgaben
    können einfach mit roher Gewalt gelöst werden, aber ist das immer der beste Weg? (Sie haben vielleicht noch nicht Zugang zu all diesen
    (Sie haben vielleicht noch nicht zu all diesen Missionen Zugang, aber sie werden mit mehr geöffneten Inseln auf der Karte verfügbar sein).</i></p>

<p style="text-align: justify;">
    Die zweite Mission der Serie ist der ersten sehr ähnlich, mit dem einzigen Unterschied, dass Sie auf eine ganz andere Weise suchen müssen. Sie müssen die erste längste Teilzeichenkette mit allen eindeutigen Buchstaben finden. Zum Beispiel haben wir in der Teilzeichenkette "abca" zwei Teilzeichenketten mit eindeutigen Buchstaben "abc" und "bca", aber wir sollten die erste nehmen, also lautet die Antwort "abc".
</p>


<p>
   <strong>Eingabe:</strong> String <span>(str{% if is_js %}ing{% endif %})</span>.

<p>
   <strong>Ausgabe:</strong> String <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p style="text-align: center;">
    <img  title="Double substring" src="{{MEDIA}}long_non_repeat.svg.png" alt="example" style="max-height: 80px">
</p>

<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>